body {
	margin: 0;
	padding: 50px;
	font-family: Arial, Helvetica, sans-serif;
}

input {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 3px;
	border: 1px solid #5f9341;
}

button {
	background-color: #5f9341;
	color: aliceblue;
	margin-top: 3px;
	padding: 10px 20px;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

button:hover {
	background-color: #80be5c;
}

button:active {
	background-color: #5f9341;
}
